*{
  margin: 0;
  padding: 0;
}
html,body{
  min-height: 100%;
  height: 100%;
  margin: 0;
  background-size: auto 100%;
}
header{
  margin: 0;
  padding: 0;
  background-color: #CCC;
}
footer{
  padding: 10px 0 0 10px;
  background-color: green;
  margin: -55px 0px 0px 0px;
  height: 55px;
  clear: both;
  color: #000;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer .address{
  float: left;
  width: 200px;
}
footer a:link{
  color: gold;
}
#wrap{
  margin-bottom: -55px;
  min-height: 100%;
}
